<!DOCTYPE html>
<html>
<head>
    <title>Some Website</title>
</head>
<body>
    <h1>{{pageTitle}}</h1>
    
    <p>{{welcomeMessage}}</p>
    
    <footer>
        <p>Copyright {{currentYear}}</p>
    </footer>
</body>
</html>